/*** Drag nad drop Image gallery***/
#upload{
    background-color:#e0e0e0;
    width:100%;
}

#drop{
    padding:20px;
    text-align: left;
    color:#000;
}

#drop a{
    background-color:#e3e9e7;
    padding:3px 10px;
    color:#000;
    font-size:14px;
    border:1px solid #aeadad;
    cursor:pointer;
    display:inline-block;
}
#drop input{
    display:none;
}
.panel-green {
    border-color: #2FBFBD;
}
.panel-yellow{
    border-color:#2FBFBD
}
.panel-red{
    border-color:#2FBFBD
}


.panel-green .panel-heading {
    border-color: #2FBFBD;
    color: #fff;
    background-color: #2FBFBD;
}
.panel-yellow .panel-heading {
    border-color: #2FBFBD;
    color: #fff;
    background-color: #2FBFBD;
}

.panel-red .panel-heading {
    border-color: #2FBFBD;
    color: #fff;
    background-color: #2FBFBD;}
.huge {
    font-size: 40px;
}

.tDnD_whileDrag{
    background-color: #E4EBF3;
    border:groove;
}

/*** End drag nad drop Image gallery***/
