/* 

Dashboard Template 
http://www.templatemo.com/preview/templatemo_415_dashboard

    1. CSS Imports
    2. General Styles
    3. Sidebar
    4. Charts
    5. Preferences form
    6. Sign in form
    7. tables.html
    8. Bootstrap overrides
    9. Maps
    10. Media Queries

/* 2. General Styles
--------------------------------------- */
* { font-family: 'Open Sans', sans-serif; }
body { background-color:#fff; }
h1 { font-size: 24px; }
.btn a {
    color: white;
    text-decoration: none;
}
.logo { display: inline-block; }
.logo h1 {
    font-size: 24px;
    margin: 10px 15px;
}
.templatemo-content-wrapper {
    float: left;
    width: 100%;
}
.templatemo-content {
    margin-left: 235px;
    margin-top: 0px;
    min-height: 600px;
    padding: 25px 20px 0 20px;
    background-color: white;
    overflow-x: hidden;
}
.templatemo-footer {
    clear: both;
    font-size: 13px;
    padding: 8px 0 5px 0;
    text-align: center;
    color: #ccc;
    background-color: #333;
}
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-30 { margin-bottom: 30px; }

/* 3. Sidebar
------------------------------------------------------*/
#templatemo_search_box {
    width: 150px;
    display: inline-block;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-header { color: rgb(127,127,127); }
.templatemo-sidebar {
    padding: 0;
    margin-top: 20px;
}
.templatemo-sidebar .templatemo-sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.templatemo-sidebar .templatemo-sidebar-menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}
.templatemo-sidebar .templatemo-sidebar-menu > li > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding:10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;    
}
.templatemo-sidebar-menu a { color: black; }
.templatemo-sidebar-menu a:hover { text-decoration: none; }
.templatemo-sidebar-menu li.sub .templatemo-submenu { display: none; }
.templatemo-sidebar-menu li.sub.open .templatemo-submenu { display: block; }
.templatemo-submenu { padding-left: 0; }
.templatemo-submenu{padding-left: 20px;}
.templatemo-submenu li {
    list-style: none;
    background-color: #fff;
    border-left: 1px dotted #ccc

}
.templatemo-submenu li a {
    display: block;
    padding:10px;
    margin: 0;
    font-size: 12px;

}
.templatemo-sidebar-menu > li.sub.open > a {
    /*background-color: rgba(145,145,145,0.3);*/
    background: #fff;
    /*border-left: 2px solid #000;*/
}
.templatemo-sidebar .templatemo-sidebar-menu >li.active, .templatemo-sidebar .templatemo-sidebar-menu>li>a:hover {
    /*background-color: rgb(191, 232, 167);*/
    background: #fff;

}
.templatemo-sidebar .templatemo-sidebar-menu>li>a.cat{
    border-left: 2px solid transparent;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.templatemo-sidebar .templatemo-sidebar-menu>li>a.cat:hover,.templatemo-sidebar .templatemo-sidebar-menu>li.active>a.cat{
    border-left: 2px solid #2b7dbc;
    color:#2b7dbc;
}
.templatemo-submenu li > a:hover  {
    background-color: rgb(228,228,228);
}
.templatemo-submenu li.active
{
    background-color: rgb(228,228,228);
}
.templatemo-sidebar .templatemo-sidebar-menu > li > a > i {
    font-size: 16px;
    top: 2px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 4px;
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

/* 4. Charts 
--------------------------------------------*/
.templatemo-chart-box {
    display: inline-block;
    text-align: center;
    padding: 20px 30px 30px 0;
}

/* 5. Preferences Form
------------------------------------------*/
#templatemo-preferences-form {
    max-width: 960px;
    margin-bottom: 30px;
}

/* 6. Sign in Form 
--------------------------------------------*/
.templatemo-signin-form {
    padding-top: 50px;
    max-width: 600px;
    margin: 0 auto;
}
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

/* 7. tables.html
------------------------------------------*/
#templatemo_sort_btn { margin-bottom: 20px; }

/* 8. Bootstrap overrides
----------------------------------------------*/
.nav-pills>li>a, .nav-tabs>li>a, .alert, .progress, .panel, .btn, .panel-group .panel, .form-control, .modal-content, .breadcrumb {
    border-radius: 0;
}
.list-group-item:first-child, .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-control-feedback { right: 15px; }

/* 9. Maps
------------------------------------------------------*/
.jqvmap-zoomin, .jqvmap-zoomout {
    width: 15px;
    height: 15px;
}
.vmap { height: 400px; }

/* 10. Media Queries
------------------------------------------------------*/
@media screen and (min-width: 992px) {
    .templatemo-sidebar {
        background: #f5f5f5;
        width: 235px;
        float: left;
        position: relative;
        margin-right: -100%;
        margin-top: 0;
    }
    .collapse{display: block;}
}
@media screen and (max-width: 991px) {
    .navbar-form {
        padding: 0;
        margin-left: 0;
    }
    .navbar-header { float: none; }
    .navbar-toggle { display: block; }
    .templatemo-sidebar {
        border-top: 0 !important;
        margin: 20px;
    }
    .templatemo-sidebar.navbar-collapse.collapse {
        /*display: none !important;*/
        background: #ddd;
        width: 25%;
        float: left;
        display: block;
    }
    .templatemo-sidebar.navbar-collapse.in {
        border-top: 0 !important;
        margin: 20px;
        position: relative;
        overflow: hidden !important;
        overflow-y: auto !important;
        display: block !important;
    }
    .templatemo-content-wrapper { float: none; }
    .templatemo-content { margin: 0; }
}

@media screen and (max-width: 767px) {
    .templatemo-chart-box {
        padding-right: 0;
    }

}

@media screen and (max-width: 650px) {
    .templatemo-sidebar.navbar-collapse.collapse {
        position: absolute;
        left:1%;
        background: #ddd;
        width: 98%;
        float: none;
        display: none;

        z-index: 3;
        margin: auto;
    }

    .mobile-menu{position: absolute;top:20px; right:20px;width: 30px;z-index: 700; cursor: pointer;}
    .mobile-menu div{height: 3px; width: 100%; background:#fff; display: block; margin: 3px;}
    /*.templatemo-sidebar .templatemo-sidebar-menu li{position: relative}*/
    /*.templatemo-sidebar .templatemo-sidebar-menu li a{font-size: 0}*/
    /*.templatemo-sidebar .templatemo-sidebar-menu li a .pull-right{margin-top: 6px;}*/
    /*.templatemo-sidebar .templatemo-sidebar-menu > li > a > i{display: inline-block;font-size: 16px;}*/
    /*.templatemo-sidebar .templatemo-sidebar-menu li ul{position: absolute;width: 200px;top:0; left:100%;}*/
    /*.templatemo-sidebar .templatemo-sidebar-menu li ul li a{font-size: 14px;}*/
}