@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?vmhhwq');
    src: url('../fonts/icomoon.eot?#iefixvmhhwq') format('embedded-opentype'), url('../fonts/icomoon.woff?vmhhwq') format('woff'), url('../fonts/icomoon.ttf?vmhhwq') format('truetype'), url('../fonts/icomoon.svg?vmhhwq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-appt-or-condo .path1:before {
    content: "\e600";
    color: rgb(69, 69, 69);
}

.icon-appt-or-condo .path2:before {
    content: "\e601";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path3:before {
    content: "\e602";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path4:before {
    content: "\e603";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path5:before {
    content: "\e604";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path6:before {
    content: "\e605";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path7:before {
    content: "\e606";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path8:before {
    content: "\e607";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path9:before {
    content: "\e608";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path10:before {
    content: "\e609";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path11:before {
    content: "\e60a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path12:before {
    content: "\e60b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path13:before {
    content: "\e60c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path14:before {
    content: "\e60d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path15:before {
    content: "\e60e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path16:before {
    content: "\e60f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path17:before {
    content: "\e610";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path18:before {
    content: "\e611";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path19:before {
    content: "\e612";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-appt-or-condo .path20:before {
    content: "\e613";
    margin-left: -1em;
    color: rgb(69, 69, 69);
}

.icon-bath:before {
    content: "\e614";
}

.icon-bedroom:before {
    content: "\e615";
}

.icon-clock:before {
    content: "\e616";
}

.icon-facebook:before {
    content: "\e617";
}

.icon-gplus:before {
    content: "\e618";
}

.icon-instagram:before {
    content: "\e619";
}

.icon-linkedin:before {
    content: "\e61a";
}

.icon-parking .path1:before {
    content: "\e61b";
    color: rgb(69, 69, 69);
}

.icon-parking .path2:before {
    content: "\e61c";
    margin-left: -1em;
    color: rgb(69, 69, 69);
}

.icon-parking .path3:before {
    content: "\e61d";
    margin-left: -1em;
    color: rgb(64, 64, 65);
}

.icon-parking .path4:before {
    content: "\e61e";
    margin-left: -1em;
    color: rgb(64, 64, 65);
}

.icon-parking .path5:before {
    content: "\e61f";
    margin-left: -1em;
    color: rgb(69, 69, 69);
}

.icon-parking .path6:before {
    content: "\e620";
    margin-left: -1em;
    color: rgb(244, 245, 245);
}

.icon-parking .path7:before {
    content: "\e621";
    margin-left: -1em;
    color: rgb(244, 245, 245);
}

.icon-phone:before {
    content: "\e622";
}

.icon-pinterest:before {
    content: "\e623";
}

.icon-sea-view:before {
    content: "\e624";
}

.icon-swimming-pool:before {
    content: "\e625";
}

.icon-twitter:before {
    content: "\e626";
}

.icon-cross:before {
    content: "\ea0f";
}

.icon-checkmark:before {
    content: "\ea10";
}

.icon-play3:before {
    content: "\ea1c";
}

.icon-checkbox-checked:before {
    content: "\ea52";
}
