@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?b7983y');
    src:url('fonts/icomoon.eot?b7983y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b7983y') format('truetype'),
    url('fonts/icomoon.woff?b7983y') format('woff'),
    url('fonts/icomoon.svg?b7983y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-building:before {
    content: "\e90c";
}
.icon-envelope:before {
    content: "\e900";
}
.icon-luxury-villa:before {
    content: "\e906";
}
.icon-view-mountain:before {
    content: "\e907";
}
.icon-view-swim:before {
    content: "\e908";
}
.icon-view-garden:before {
    content: "\e909";
}
.icon-unit-icon:before {
    content: "\e90a";
}
.icon-apart-condo:before {
    content: "\e90b";
}
.icon-parking:before {
    content: "\e905";
}
.icon-guide3:before {
    content: "\e924";
}
.icon-guide4:before {
    content: "\e928";
}
.icon-guide5:before {
    content: "\e929";
}
.icon-guide7:before {
    content: "\e92a";
}
.icon-guide8:before {
    content: "\e92b";
}
.icon-location-pin1:before {
    content: "\e92c";
}
.icon-next:before {
    content: "\e92d";
}
.icon-prev:before {
    content: "\e92e";
}
.icon-selling-icon:before {
    content: "\e92f";
}
.icon-arrow-down:before {
    content: "\e930";
}
.icon-arrow-left:before {
    content: "\e931";
}
.icon-arrow-right:before {
    content: "\e932";
}
.icon-arrow-up:before {
    content: "\e933";
}
.icon-C1:before {
    content: "\e934";
}
.icon-C2:before {
    content: "\e935";
}
.icon-C3:before {
    content: "\e936";
}
.icon-C4:before {
    content: "\e937";
}
.icon-time:before {
    content: "\e938";
}
.icon-email:before {
    content: "\e939";
}
.icon-phone-icon:before {
    content: "\e93a";
}
.icon-guide1:before {
    content: "\e93b";
}
.icon-guide2:before {
    content: "\e93c";
}
.icon-phone2:before {
    content: "\e901";
}
.icon-search:before {
    content: "\e902";
}
.icon-share:before {
    content: "\e903";
}
.icon-logo:before {
    content: "\e904";
}
.icon-pinterest:before {
    content: "\e90d";
}
.icon-sea-view:before {
    content: "\e90e";
}
.icon-swimming-pool:before {
    content: "\e90f";
}
.icon-bedroom:before {
    content: "\e926";
}
.icon-bath2:before {
    content: "\e927";
}
.icon-block:before {
    content: "\e600";
}
.icon-line:before {
    content: "\e613";
}
.icon-clock2:before {
    content: "\e616";
}
.icon-facebook:before {
    content: "\e617";
}
.icon-google+:before {
    content: "\e618";
}
.icon-instagram:before {
    content: "\e619";
}
.icon-linkedIn:before {
    content: "\e61a";
}
.icon-up:before {
    content: "\e61b";
}
.icon-line2:before {
    content: "\e61c";
}
.icon-button:before {
    content: "\e61f";
}
.icon-phone-outline:before {
    content: "\e622";
}
.icon-uniE623:before {
    content: "\e623";
}
.icon-uniE624:before {
    content: "\e624";
}
.icon-pool:before {
    content: "\e625";
}
.icon-twitter:before {
    content: "\e626";
}
.icon-cross:before {
    content: "\ea0f";
}
.icon-tick:before {
    content: "\ea10";
}
.icon-play:before {
    content: "\ea1c";
}
.icon-tick-box:before {
    content: "\ea52";
}
.icon-location2:before {
    content: "\e925";
}

