/*
*
*  Structure
*
*/
#admin {
    font-family: "Open Sans", Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #333;
}

#admin a {
    color: #903;
    text-decoration: none;
}

#admin a:hover {
    border-bottom: 1px dotted #903;
}

#admin .wrapper {
    width: 1160px;
    margin: 10px auto;
}

#admin header {
    width: 100%;
    height: 75px;
    border-bottom: 1px #ccc solid;
    text-align: center;
}

#admin aside {
    width: 150px;
    padding: 10px 10px;
    margin: 10px;
    float: left;
}

#admin aside a {
    display: block;
    font-size: 1.1em;
    margin: 5px 0;
    padding: 5px 0;
    color: #903;
    outline: none;
}

#admin aside a:before {
    content: '\2022  ';
}

#admin aside a:hover {
    border-bottom: none;
    padding-left: 2px;
}

#admin main {
    width: 895px;
    min-height: 250px;
    border-left: 1px #ccc solid;
    padding: 10px 30px;
    margin: 10px 0 10px 10px;
    float: left;
}

#admin main #login-form {
    width: 350px;
    margin: 30px auto;
}

#admin footer {
    width: 100%;
    padding: 20px 10px;
    border-top: 1px #ccc solid;
    float: none;
    clear: both;
}

/*
*
*  Form
*
*/
#admin form {

}

#admin form label,
#admin form input,
#admin form select {
    /* Override browser default for form font */
    font-family: "Open Sans", Verdana, Geneva, sans-serif;
    font-size: 100%;

    display: inline-block;
    padding: 4px 7px;
    margin: 5px;
    border: 1px #CCC solid;
    border-radius: 2px;
}

#admin form label {
    width: 150px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

#admin form input:focus {
    border: 1px #333 solid;
}

#admin form#article input,
#admin form#article select {
    width: 120px;
}

#admin form#article input.long {
    width: 510px;
}

#admin form#article input[type="checkbox"] {
    width: 10px;
}

a.button,
#admin form input[type="submit"],
#admin table.edit_table button {
    width: auto !important;
    padding: 8px 20px;
    margin: 10px 185px 5px 0px;
    border: 1px #000 solid;
    border-radius: 4px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#aaa));
    background-image: -webkit-linear-gradient(top, #ddd, #aaa);
    background-image: -moz-linear-gradient(top, #ddd, #aaa);
    background-image: -ms-linear-gradient(top, #ddd, #aaa);
    background-image: -o-linear-gradient(top, #ddd, #aaa);
    background-image: linear-gradient(top, #ddd, #aaa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#aaa', GradientType=0); /* IE6-9 */

}

#admin a.button {
    color: #000;
    margin: 5px;
}

#admin a.button:hover {
    border-bottom: none;
}

a.button:hover,
#admin form input[type="submit"]:hover,
#admin table.edit_table button:hover {
    background: none repeat scroll 0 0 #ddd;
    background-image: none;
}

#admin form textarea {
    width: 100%;
    height: 300px;
}

#tinymce.mce-content-body {
    font-size: 14px !important;
}

#mceu_14 {
    margin-bottom: 15px !important;

}

/*
*
*  table
*
*/
#admin table.edit_table {
    max-width: 920px;
    font-size: 0.9em;
    text-align: left;
}

#admin table.edit_table.narrow {
    width: auto;
    min-width: 600px;
}

#admin table.edit_table tr:nth-child(even) {
    background-color: #fff;
}

#admin table.edit_table tr:nth-child(even) {
    background-color: #F7F7F7;
}

#admin table.edit_table tr:hover td {
    background-color: #E6E6E6;
}

#admin table.edit_table th {
    font-weight: bold;
    padding: 12px 6px;
    border-top: 1px #ccc solid;
    border-bottom: 3px #ccc solid;
}

#admin table.edit_table td {
    font-weight: normal;
    padding: 8px 6px;
    border-bottom: 1px #ccc solid;
}

#admin table.edit_table td.date {
    width: 75px;
}

#admin table.edit_table button {
    margin: 0;
    font-size: 0.9em;
    padding: 5px 10px;
    bordeR: 1px #999 solid;
    border-radius: 5px;
}

/*
*
*  Feedback
*
*/

div.message_info, div.message_success, div.message_warning, div.message_error {
    border: 1px solid;
    margin: 10px 25px;
    line-height: 1em;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
}

div.message_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../images/icons/info.png');
}

div.message_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../../images/icons/success.png');
}

div.message_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../images/icons/warning.png');
}

div.message_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../images/icons/error.png');
}

#admin div.message_error a {
    color: #000;
    text-decoration: underline;
}